In [12]:
import numpy as np 
import pandas as pd

now we create the new dictionary name as the dict1

In [13]:
dict1= {"name":['Fawaz', 'Ahmad', 'Ali'],
        "age": [21,20,22],
        "city": ["Rawalpindi", "Islamabad", "Lahore"]
        }

we will create the new variable name as the df

In [14]:
df = pd.DataFrame(dict1)

In [15]:
df

    name  age        city
0  Fawaz   21  Rawalpindi
1  Ahmad   20   Islamabad
2    Ali   22      Lahore

df.to_csv command is use to create the csv file and store the data in it. This command will automatically add the index in the csv file

In [16]:
df.to_csv('data.csv')

If we don't want to add the index in the csv file then we write this command. This command similarly create the csv file but don't write the index just write the data.

In [17]:
df.to_csv('data1.csv', index=False)

If we want to fetch only the first two rows of the data then we write this command.

In [18]:
df.head(2)

    name  age        city
0  Fawaz   21  Rawalpindi
1  Ahmad   20   Islamabad

If we want to fetch only the last two rows of the data then we write this command.

In [19]:
df.tail(1)

  name  age    city
2  Ali   22  Lahore

describe command: This command calculate the count, mean, standard deviation etc of the numerical value of the data

In [20]:
df.describe()

        age
count   3.0
mean   21.0
std     1.0
min    20.0
25%    20.5
50%    21.0
75%    21.5
max    22.0

Read the file from the folder

In [27]:
rd = pd.read_csv('marks.csv')

In [28]:
rd

   marks  percentage
0      1          10
1      2          20
2      3          30

if we want to fetch the data of the specific column

In [29]:
rd['percentage']

0    10
1    20
2    30
Name: percentage, dtype: int64

If we want to get the data of the specofic index

In [30]:
rd['marks'][1]

2

If we want to change the value at any index

In [31]:
rd['marks'][1]=20

/var/folders/kf/j2b1zr894399f2smxkl47kcw0000gn/T/ipykernel_8583/1619605361.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  rd['marks'][1]=20

In [32]:
rd

   marks  percentage
0      1          10
1     20          20
2      3          30