In [1]:
import numpy as np 
import pandas as pd

To generate the series of random numbers

In [7]:
ser = pd.Series(np.random.rand(5))

In [8]:
ser

0    0.861102
1    0.093895
2    0.174548
3    0.592527
4    0.631406
dtype: float64

In [9]:
type(ser)

pandas.core.series.Series

Now we will create the DATA FRAME

In [10]:
newdf = pd.DataFrame(np.random.rand(300,5), index=np.arange(300))

In [11]:
newdf.head()

          0         1         2         3         4
0  0.694344  0.071786  0.191817  0.429858  0.538958
1  0.861704  0.633711  0.978100  0.072034  0.069362
2  0.674861  0.999032  0.296582  0.448499  0.943366
3  0.975078  0.560416  0.113962  0.111061  0.504165
4  0.133933  0.875183  0.090996  0.803651  0.262283

In [12]:
newdf

            0         1         2         3         4
0    0.694344  0.071786  0.191817  0.429858  0.538958
1    0.861704  0.633711  0.978100  0.072034  0.069362
2    0.674861  0.999032  0.296582  0.448499  0.943366
3    0.975078  0.560416  0.113962  0.111061  0.504165
4    0.133933  0.875183  0.090996  0.803651  0.262283
..        ...       ...       ...       ...       ...
295  0.781062  0.711910  0.851132  0.715144  0.897372
296  0.063058  0.840108  0.802896  0.223215  0.243615
297  0.342913  0.621333  0.143416  0.742925  0.890187
298  0.875345  0.061815  0.675197  0.453442  0.104396
299  0.633690  0.865109  0.143155  0.380155  0.062694

[300 rows x 5 columns]

In [13]:
type(newdf)

pandas.core.frame.DataFrame

To check the datatype

In [14]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

To check the number of index and columns

In [18]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       290, 291, 292, 293, 294, 295, 296, 297, 298, 299],
      dtype='int64', length=300)

In [19]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

To convert the Data Frame into numpy array

In [20]:
newdf.to_numpy()

array([[0.69434378, 0.07178636, 0.1918175 , 0.4298584 , 0.53895782],
       [0.86170402, 0.63371126, 0.97810035, 0.07203407, 0.06936242],
       [0.67486105, 0.99903217, 0.29658167, 0.44849874, 0.9433658 ],
       ...,
       [0.34291257, 0.62133262, 0.14341607, 0.74292534, 0.89018732],
       [0.87534547, 0.06181511, 0.67519714, 0.45344191, 0.10439643],
       [0.63368967, 0.86510897, 0.14315456, 0.38015549, 0.06269413]])

To take the transpose

In [21]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.694344,0.861704,0.674861,0.975078,0.133933,0.125589,0.659818,0.211585,0.445563,0.433903,...,0.990436,0.764078,0.008340,0.132644,0.052817,0.781062,0.063058,0.342913,0.875345,0.633690
1,0.071786,0.633711,0.999032,0.560416,0.875183,0.716083,0.964083,0.184363,0.616492,0.469335,...,0.677665,0.964577,0.063648,0.302510,0.767537,0.711910,0.840108,0.621333,0.061815,0.865109
2,0.191817,0.978100,0.296582,0.113962,0.090996,0.391800,0.862528,0.247683,0.500501,0.898194,...,0.460739,0.280622,0.837709,0.368081,0.119468,0.851132,0.802896,0.143416,0.675197,0.143155
3,0.429858,0.072034,0.448499,0.111061,0.803651,0.571771,0.097875,0.816966,0.048812,0.676968,...,0.821882,0.143345,0.234704,0.313165,0.865228,0.715144,0.223215,0.742925,0.453442,0.380155
4,0.538958,0.069362,0.943366,0.504165,0.262283,0.961267,0.983067,0.813197,0.151208,0.958602,...,0.966118,0.598772,0.009711,0.128588,0.914734,0.897372,0.243615,0.890187,0.104396,0.062694

In [22]:
newdf.head

<bound method NDFrame.head of             0         1         2         3         4
0    0.694344  0.071786  0.191817  0.429858  0.538958
1    0.861704  0.633711  0.978100  0.072034  0.069362
2    0.674861  0.999032  0.296582  0.448499  0.943366
3    0.975078  0.560416  0.113962  0.111061  0.504165
4    0.133933  0.875183  0.090996  0.803651  0.262283
..        ...       ...       ...       ...       ...
295  0.781062  0.711910  0.851132  0.715144  0.897372
296  0.063058  0.840108  0.802896  0.223215  0.243615
297  0.342913  0.621333  0.143416  0.742925  0.890187
298  0.875345  0.061815  0.675197  0.453442  0.104396
299  0.633690  0.865109  0.143155  0.380155  0.062694

[300 rows x 5 columns]>

To sort it in the decending order

In [25]:
newdf.sort_index(axis=0, ascending=False)

            0         1         2         3         4
299  0.633690  0.865109  0.143155  0.380155  0.062694
298  0.875345  0.061815  0.675197  0.453442  0.104396
297  0.342913  0.621333  0.143416  0.742925  0.890187
296  0.063058  0.840108  0.802896  0.223215  0.243615
295  0.781062  0.711910  0.851132  0.715144  0.897372
..        ...       ...       ...       ...       ...
4    0.133933  0.875183  0.090996  0.803651  0.262283
3    0.975078  0.560416  0.113962  0.111061  0.504165
2    0.674861  0.999032  0.296582  0.448499  0.943366
1    0.861704  0.633711  0.978100  0.072034  0.069362
0    0.694344  0.071786  0.191817  0.429858  0.538958

[300 rows x 5 columns]