In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

In [3]:
df

   A  B
0  1  4
1  2  5
2  3  6

In [4]:
df['C'] = 7  # Adds a column 'C' with the constant value 7

In [5]:
df

   A  B  C
0  1  4  7
1  2  5  7
2  3  6  7

In [6]:
df['D'] = [10, 20, 30]  # Adds a column 'D' with values from the list
print(df)

   A  B  C   D
0  1  4  7  10
1  2  5  7  20
2  3  6  7  30

In [7]:
df['E'] = df['A'] + df['B']  # Adds a column 'E' which is the sum of columns 'A' and 'B'
print(df)

   A  B  C   D  E
0  1  4  7  10  5
1  2  5  7  20  7
2  3  6  7  30  9

In [8]:
df = df.drop('B', axis=1)  # Drops column 'B'
print(df)

   A  C   D  E
0  1  7  10  5
1  2  7  20  7
2  3  7  30  9

In [9]:
df = df.drop(['C', 'D'], axis=1)  # Drops columns 'C' and 'D'
print(df)

   A  E
0  1  5
1  2  7
2  3  9