In [236]:
import numpy as np 
import pandas as pd 
from dateutil import parser

In [237]:
df = pd.read_csv('marks.csv')

In [238]:
df

   marks  percentage        date
0    1.0        10.0  01/12/2020
1    2.0        20.0  02/11/2021
2    3.0        30.0  01/12/2020
3    NaN        40.0  02/11/2021
4    5.0        50.0  01/12/2020
5    6.0         NaN  02/11/2021
6    7.0        70.0    1.2.2024
7    8.0        80.0  01/12/2020
8    9.0        90.0  02/11/2021

In [239]:
#df=df.fillna(150)
df['marks'] = df['marks'].fillna(150)

In [240]:
df

   marks  percentage        date
0    1.0        10.0  01/12/2020
1    2.0        20.0  02/11/2021
2    3.0        30.0  01/12/2020
3  150.0        40.0  02/11/2021
4    5.0        50.0  01/12/2020
5    6.0         NaN  02/11/2021
6    7.0        70.0    1.2.2024
7    8.0        80.0  01/12/2020
8    9.0        90.0  02/11/2021

In [243]:
df['date'] = pd.to_datetime(df['date'], errors='coerce', dayfirst=True)

In [244]:
df

   marks  percentage       date
0    1.0        10.0 2020-12-01
1    2.0        20.0 2021-11-02
2    3.0        30.0 2020-12-01
3  150.0        40.0 2021-11-02
4    5.0        50.0 2020-12-01
5    6.0         NaN 2021-11-02
6    7.0        70.0        NaT
7    8.0        80.0 2020-12-01
8    9.0        90.0 2021-11-02

In [ ]:
#df.to_csv('modifiedmarks.csv', index=False)